<div class="layout">

    <!-- Navbar -->
    <div class="navigation navbar navbar-light justify-content-center py-xl-7">

        <!-- Brand -->
        <a href="/chat" class="d-none d-xl-block mb-6">
            <img src="/assets/images/brand.svg" class="mx-auto fill-primary" data-inject-svg="" alt=""
                style="height: 46px;">
        </a>

        <!-- Menu -->
        <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0"
            role="tablist">

            {{!-- <!-- Invisible item to center nav vertically -->
                    <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                            <i class="icon-lg fe-x"></i>
                        </a>
                    </li> --}}

            <!-- Chats -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab" href="#tab-content-dialogs"
                    title="Chats" role="tab">
                    <i class="icon-lg fe-message-square"></i>
                    <div class="badge badge-dot badge-primary badge-bottom-center"></div>
                </a>
            </li>



            <!-- Friend -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-friends"
                    title="Friends" role="tab">
                    <i class="icon-lg fe-users"></i>
                </a>
            </li>

            <!-- Create group -->
            <li class="nav-item">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-create-chat"
                    title="Create chat" role="tab">
                    <i class="icon-lg fe-edit"></i>
                </a>
            </li>

            <!-- Profile -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-user"
                    title="User" role="tab">
                    <i class="icon-lg fe-user"></i>
                </a>
            </li>

        </ul>
        <!-- Menu -->

    </div>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="tab-content h-100" role="tablist">
            <div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
                <div class="d-flex flex-column h-100">

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">

                            <!-- Title -->
                            <h2 class="font-bold mb-6">Chats</h2>
                            <!-- Title -->


                            <!-- Favourites -->
                            <div class="text-center hide-scrollbar d-flex my-7" data-horizontal-scroll="">
                              
                                {{#each rooms as |room|}}
                                        {{#displayRoom room ../user}}
                                        <a href="/chat/room/{{room.user._id}}" class="d-block text-reset mr-7 mr-lg-6">
                                            <div class="avatar avatar-sm avatar-online mb-3">
                                                <img class="avatar-img" src="{{#setAvatar room.user.avatar "user"}}{{/setAvatar}}"
                                                    alt="Image Description">
                                            </div>
                                            <div class="small">{{room.user.username}}</div>
                                        </a>
                                        {{/displayRoom}}
                                {{/each}}

                            </div>
                            <!-- Favourites -->
                            <!-- Chats -->
                            <nav class="nav d-block list-discussions-js mb-n6">
                                <!-- Chat link -->
                                {{#each groups as |group|}}
                                <a class="text-reset nav-link p-0 mb-6" href="/chat/group/{{group._id}}">
                                    <div class="card card-active-listener">
                                        <div class="card-body">

                                            <div class="media">

                                                <div class="avatar mr-5">
                                                    <img class="avatar-img" src="{{#setAvatar group.avatar "group"}}{{/setAvatar}}"
                                                        alt="Bootstrap Themes">
                                                </div>

                                                <div class="media-body overflow-hidden">
                                                    <div class="d-flex align-items-center mb-1">
                                                        <h6 class="text-truncate mb-0 mr-auto">{{group.name}}</h6>
                                                        <p class="small text-muted text-nowrap ml-4 text-right" style=" display: block;
                                                                                                        width: 130px;
                                                                                                        overflow: hidden;
                                                                                                        white-space: nowrap;
                                                                                                        text-overflow: ellipsis;">{{group.description}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </a>
                                <!-- Chat link -->
                                {{/each}}


                            </nav>
                            <!-- Chats -->

                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
                <div class="d-flex flex-column h-100">

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">

                            <!-- Title -->
                            <h2 class="font-bold mb-6">Contacts</h2>
                            <!-- Title -->

                            <!-- Search -->
                            {{!-- <form class="mb-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-lg" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                                            <div class="input-group-append">
                                                <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                                    <i class="fe-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form> --}}
                            <!-- Search -->

                            <!-- Button -->
                            <button type="button"
                                class="btn btn-lg btn-block btn-secondary d-flex align-items-center mb-6"
                                data-toggle="modal" data-target="#invite-friends">
                                Invite friends
                                <i class="fe-users ml-auto"></i>
                            </button>

                            <!-- Friends -->
                            <nav class="mb-n6">
                                {{#each users as |user|}}
                                <!-- Friend -->
                                <div class="card mb-6">
                                    <div class="card-body">

                                        <div class="media">

                                            <div class="avatar mr-5">
                                                <img class="avatar-img" src="{{#setAvatar user.avatar "user"}}{{/setAvatar}}"
                                                    alt="Anna Bridges">
                                            </div>


                                            <div class="media-body align-self-center">
                                                <h6 class="mb-0">{{user.username}}</h6>
                                            </div>

                                            <div class="align-self-center ml-5">
                                                <div class="dropdown z-index-max">
                                                    <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="fe-more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item d-flex align-items-center"
                                                            href="/chat/room/{{user._id}}">
                                                            New chat <span class="ml-auto fe-edit-2"></span>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Link -->
                                        <a href="/chat/room/{{user._id}}" class="stretched-link"></a>

                                    </div>
                                </div>
                                <!-- Friend -->
                                {{/each}}

                            </nav>
                            <!-- Friends -->

                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade h-100" id="tab-content-create-chat" role="tabpanel">
                <form method="post" action="/group">
                    <div class="d-flex flex-column h-100">

                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">

                                <!-- Title -->
                                <h2 class="font-bold mb-6">Create group</h2>
                                <!-- Title -->



                                <!-- Tabs -->
                                <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
                                    <li class="nav-item">
                                        <a href="#create-group-details" class="nav-link active" data-toggle="tab"
                                            role="tab" aria-selected="true">Details</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#create-group-members" class="nav-link" data-toggle="tab" role="tab"
                                            aria-selected="false">Members</a>
                                    </li>
                                </ul>
                                <!-- Tabs -->

                                <!-- Create chat -->
                                <div class="tab-content" role="tablist">
                                    <!-- Chat details -->
                                    <div id="create-group-details" class="tab-pane fade show active" role="tabpanel">

                                       

                                        <div class="form-group">
                                            <label class="small" for="new-chat-title">Name</label>
                                            <input class="form-control form-control-lg" name="name" id="new-chat-title"
                                                type="text" placeholder="Group Name">
                                        </div>

                                        <div class="form-group mb-0">
                                            <label class="small" for="new-chat-description">Description</label>
                                            <textarea class="form-control form-control-lg" name="description"
                                                id="new-chat-description" rows="6"
                                                placeholder="Group Description"></textarea>
                                        </div>


                                    </div>
                                    <!-- Chat details -->

                                    <!-- Chat Members -->
                                    <div id="create-group-members" class="tab-pane fade" role="tabpanel">
                                        <nav class="list-group list-group-flush mb-n6">



                                            <!-- Friend -->
                                            {{#each users as |user|}}
                                            <div class="card mb-6">
                                                <div class="card-body">

                                                    <div class="media">

                                                        <div class="avatar avatar-online mr-5">
                                                            <img class="avatar-img" src="{{#setAvatar user.avatar "user"}}{{/setAvatar}}"
                                                                alt="Anna Bridges">
                                                        </div>



                                                        <div class="media-body align-self-center mr-6">
                                                            <h6 class="mb-0">{{user.username}}</h6>
                                                        </div>

                                                        <div class="align-self-center ml-auto">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" name="users[]"
                                                                    value="{{user._id}}" id="id-user-{{user._id}}"
                                                                    type="checkbox">
                                                                <label class="custom-control-label"
                                                                    for="id-user-{{user._id}}"></label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- Label -->
                                                <label class="stretched-label" for="id-user-{{user._id}}"></label>
                                            </div>
                                            <!-- Friend -->
                                            {{/each}}



                                        </nav>
                                    </div>
                                    <!-- Chat Members -->

                                </div>
                                <!-- Create chat -->

                            </div>
                        </div>
                </form>
                <!-- Button -->
                <div class="pb-6">
                    <div class="container-fluid">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create group</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade h-100" id="tab-content-user" role="tabpanel">
            <div class="d-flex flex-column h-100">

                <div class="hide-scrollbar">
                    <div class="container-fluid py-6">

                        <!-- Title -->
                        <h2 class="font-bold mb-6">Profile</h2>
                        <!-- Title -->

                
                        <!-- Card -->
                        <div class="card mb-6">
                            <div class="card-body">
                                <div class="text-center py-6">
                                    <!-- Photo -->
                                    <div class="avatar avatar-xl mb-5">
                                        <img class="avatar-img" src="{{#setAvatar user.avatar "user"}}{{/setAvatar}}" alt="" onclick="Controller.openModalAvatar({src:this.src})">
                                    </div>

                                    <h5>{{user.username}}</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->


                        <div class="col">
                            <!-- Button -->
                            <a href="/logout" class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                Logout
                                <span class="fe-log-out ml-auto"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>